
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primaryTextColour: #232e35;
    --secondaryTectColour: #656d72;

    --bordercolour: #f1f1f1;
    --lineecolour: #d9d9d9;

    --primaryBGcolour: #fff;
    --SecondaryBGcolour: #fbfbfb;
    --thirdBGcolour: #cac0f7;

    --primaryiconColour: #8880dd;
    --primaryiconcolourhover: #5d51e8;

    --SectionPadding: 6rem 0;
    --itemborderradius: 0.7rem;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColour);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTectColour);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* btn */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--bordercolour);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* tittle */

.section-title {
    margin: 1rem 0 4 rem;
    font-size: 2rem;

}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTectColour);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineecolour);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layout */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


/* logo navigation menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColour);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColour);
}


/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: flex;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}


/* hero section*/

#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700px;
    margin: 0.5rem 0 1rem;

}

.hero-name span {
    color: var(--primaryiconColour);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* service section */

#service {
    background-color: var(--SecondaryBGcolour);
    padding: var(--SectionPadding);

}
.service .pre-title {
    margin: 0 auto;
}


.service-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBGcolour);
    border-radius: var(--itemborderradius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBGcolour);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0,5rem;

}

.service-icon svg {
    fill: var(--primaryiconColour);
}

/* PORTOFOLIO */

#portofolio {
    padding: var(--SectionPadding);


}

.portofolio {
    border-radius: var(--itemborderradius);
    overflow: hidden;

}

.portofolio-cover {
    height: 250px;

}

.portofolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portofolio-info {
    padding: 2rem 1.5rem;
}

.portofolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portofolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portofolio-title a svg:hover {
    fill: var(--primaryiconColour);
}

.portofolio-title a svg {
    transition: .2s ease-in-out;
}

.portofolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portofolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--bordercolour);
    padding: .4rem 1rem;
    color: var(--secondaryTectColour);
}

/* skill */

#skill {
    padding: var(--SectionPadding);
    background: var(--SecondaryBGcolour);

}

.skill-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem; 
}

.education {
    display: flex;
    gap: 1rem;

}

.education .line {
    padding: 0 .7rem;

}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--bordercolour);
    position: relative;

}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-year {
    margin: 3rem;
}

/* dot line */
.education .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--bordercolour);
    border-radius: 50%;
    position: absolute;
    left: -6px;

}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skill-right {
    line-height: 2rem;
    padding: 0 1rem;
}

/* contact */
#contact {
    padding: var(--SectionPadding);

}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 6rem;

}

.contact-form div {
    margin-bottom: 1.4rem;


}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--SecondaryBGcolour);
    border: 1px solid var(--bordercolour);
    border-radius: 2px;
    resize: none;


}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryiconColour);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryiconcolourhover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBGcolour);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-item-icon svg {
    fill: var(--primaryiconColour);
}

.contact-item-detail {
     margin-bottom: 0.6rem;
}


footer {
    padding: 4rem 0;
    background: var(--SecondaryBGcolour);
    text-align: center;
}

.footer-icon {
    margin-bottom: 1rem;
}

.footer-icon a {
    margin: 0 .5rem;
}

.footer-icon svg {
    fill: #3e3f40;
}

.footer-icon a:hover {
    fill: #000;
}


